/*FORMATO GENERAL*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");

*{
    padding: 0px;
    font-family: Roboto;
}
a{
    color: inherit;
}




h1 {
    display: inline;
}

/*FORMULARIOS*/
.titulo{

    font-weight: 700;
    font-size: 400%;
}

.tit1{
    color: #77C13B;
}

.tit2{
    color: #DA0063;
}

.subtitulo-form{

    font-weight:bold;
}

.boton{
    background-color: #8FD14F;
}

.form-control:focus {
    border-color: #8FD14F;
    box-shadow: inset 0 1px 1px #8FD14F, 0 0 8px #8FD14F;
  }

/*---------------------------------NAV*/
.fondo-nav{
    background-color: #77C13B;
}
.text-nav{
    color: white;
    font-size: large;
} 

/*PANTALLA MANEJO CITAS*/
#outer
{
    width:100%;
    text-align: center;
}
.inner
{
    display: inline-block;
}

/*PANTALLA CONGFIGATENCION*/

.texto
{
    font-weight: bold;
}

.subtit{
    color: #77C13B;
    font-size: medium;
}

.tit2{
    color: #DA0063;
}

.subtitulo-form{

    font-weight:bold;
}

.boton{
    background-color: #8FD14F;
}

.form-control:focus {
    border-color: #8FD14F;
    box-shadow: inset 0 1px 1px #8FD14F, 0 0 8px #8FD14F;
  }

/* TIPO DE CAMBIO*/

.tipocambio {
    color: #DA0063;
    font-weight: bold;

}


/*PARA QUE EL FOOTER SE PONGA ABAJO*/
body{
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}
