*{
    padding: 0px;
    font-family: Roboto;
}

/*FORMULARIOS*/
.titulo{

    font-weight: 700;
    font-size: 400%;
}

.tit1{
    color: #77C13B;
}

.tit2{
    color: #DA0063;
}

.subtitulo-form{

    font-weight:bold;
}

.boton{
    background-color: #8FD14F;
}

.form-control:focus {
    border-color: #8FD14F;
    box-shadow: inset 0 1px 1px #8FD14F, 0 0 8px #8FD14F;
  }

/*PANTALLA LOGUEO*/
.fondo-nav{
    background-color: #77C13B;
}

/*PANTALLA MANEJO CITAS*/
#outer
{
    width:100%;
    text-align: center;
}
.inner
{
    display: inline-block;
}

/*PANTALLA CONGFIGATENCION*/

.texto
{
    font-weight: bold;
}

.subtit{
    color: #77C13B;
    font-size: medium;
}

.tit2{
    color: #DA0063;
}

.subtitulo-form{

    font-weight:bold;
}

.boton{
    background-color: #8FD14F;
}

.form-control:focus {
    border-color: #8FD14F;
    box-shadow: inset 0 1px 1px #8FD14F, 0 0 8px #8FD14F;
  }

/* TIPO DE CAMBIO*/

.tipocambio {
    color: #DA0063;
    font-weight: bold;

}
/* CALENDARIO CITAS*/
